
@media (max-width:1200px) {
    #header3 {
        width: 100%;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
    #header3 tr {
        display: flex;
    }
    #header3 tr {
        width: 50%;
    }
    #header3 tr:nth-child(1,3,5) {
        display: flex;
        justify-content: flex-end;
        -ms-align-items: center;
        align-items: center;
        padding-right: 20px;
    }
    #header3 tr:nth-child(2,4,6) {
        display: flex;
        justify-content: flex-start;
        -ms-align-items: center;
        align-items: center;
        padding-left: 0;
        text-align: left;
    }
}